.Btn {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: transparent;
    transition: all .2s;
    font-size: inherit;
    font-family: inherit;
}

.Black {
    background-color: #323232;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.Black:hover {
    background-color: #202020;
}

