/* common */
.Btn {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: transparent;
    transition: all .2s;
    font-size: inherit;
    font-family: inherit;
}
/* black background collor */
.Black {
    background-color: #323232;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 5rem;
}

.Black:hover {
    background-color: #202020;
}
/* raw blue button */
.RawBlue {
    color: #2980b9;
    background-color: inherit;
    margin-top: 1rem;
}

.RawBlue:hover {
    border-bottom: 1px solid #2980b9;
}
/* raw button */
.Raw {
    color: #747474;
    background-color: inherit;
    margin-top: 1rem;
    margin-right: 1rem;
}

.Raw:hover {
    border-bottom: 1px solid #747474;
}
/* tag button */
.Tag {
    color: rgb(153, 153, 153);
    background-color: rgb(238, 236, 236);
    padding: 0.3rem 1rem;
    border: 1px solid rgb(199, 199, 199);
    margin-right: 1rem;
    border-radius: 1px;
    margin-top: 1rem;
}

.Tag:hover {
    color: rgb(192, 189, 189);
}

