/* Style SearchBar */
.SearchBar {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: auto;
    flex: 0 0 27%;
}

/* Style input box */
.Input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 3px 0 0 3px;
    padding: 0.45rem 0.5rem;
    width: 100%;
    transition: all .2s;
    height: 3rem;
}

.Input:focus {
    outline: none;
    border: 2px solid #5faee3;
    border-right: transparent;
    background-color: rgb(255, 255, 255);
}

/* style button */
.Button {
    border: none;
    background-color: rgb(199, 199, 199);
    padding: 0.4rem 1.3rem;
    border-radius: 0px 3px 3px 0px;
    overflow: hidden;
    transition: all .2s;
    height: 3rem;
}

.Input:focus + .Button{
    background-color: #2980b9;
    border: 2px solid #5faee3;
    border-left: transparent;
}

/* style icon */
.Icon {
    font-size: 1.7rem;
    font-weight: 300;
    color: rgb(131, 131, 131);
}

