.FieldsBox {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
.FieldsBox::after {
    display: block;
    height: 1.5px;
    background-color: #afafaf;
    content: " ";
    width: 92%;
    margin: 2rem 0 1rem 0;
  }
  
  

.Title {
    margin-left: 2%;
    font-size: 125%;
}

.Shops {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    margin-left: 2%;
}
.EachShop {
    flex: 0 0 25%;
}
.ButtonOpen {
    align-self: center;
    margin-right: 2%;
}

