.Catagory {
    position: absolute;
    right: 0;
    width: 90rem;
    background-color: #fff;
    padding: 1.5rem 3rem;
    transition: all .2s;
}

.Show {
    display: flex;
}

.Hide {
    display: none;
}